@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    gap:0;
    
}


.login-prestador{
    display: flex;
    margin-top: 245px;
    margin-left: 512px;
    margin-right: 531px;
    background: #1F232F;
    width: 721px;
    height: 683px;
    align-items: center;
    justify-content: center;
    border-radius: 3.125rem;
    
}

.login-prestador .titulo-login{ 
    text-align: center;
    font-size:64px;
    color:#45B0D2;
    margin-bottom: 113px;
    margin-right: 35px;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
    
   
 
}

.login-prestador .login-cpf{
    align-items: center;
}



.login-prestador .items .login-caixa1{
    width: 320px;
    height: 50px;
    text-align:left;
    border-radius: 50px;
    margin-top: 26px;
    font-size: 25px;
    font-weight: 400;
    background: #F2ECF8;
    color:#000;
}

.login-prestador .items .login-caixa{
    width: 320px;
    height: 50px;
    border-radius: 25px;
    font-size: 25px;
    font-weight: 400;
    background: #F2ECF8;
    color:#000;
    
}

.login-prestador  .login-botao{
    
    margin-top: 70px;
    width: 193px;
    height: 54px;
    border-radius: 50px;
    background-color: #45B0D2;
    color: #F2ECF8;
    font-size: 25px;
   margin-left: 55px;
    
}

.fundo24{
    background:#D9D9D9;
    width:450px;
    height: 308px;
    

  }


