@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    gap:0;
    
}


.login-prestador{
    display: flex;
    margin-top: 132px;
    margin-left: 512px;
    margin-right: 531px;
    background: #1F232F;
    width: 500px;
    height: 500px;
    align-items: center;
    border-radius: 3.125rem;
    
}

.login-prestador .titulo-login{
 margin-left: 185px;
 font-size:50px;
 color:#45B0D2;
 
}

.login-prestador .login-cpf{
    align-items: center;
}

.login-prestador .items{
    margin-left: 125px;
    margin-top: 50px;
    font-size:25px;
    float: center;
}

.login-prestador .items .login-caixa1{
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    margin-top: 26px;
    color:#000;
}

.login-prestador .items .login-caixa{
    width: 250px;
    height: 30px;
    text-align: center;
    border-radius: 50px;
    color:#000;
    
}

.login-prestador .items .login-botao{
    margin-top: 70px;
    float: center;
    margin-left: 75px;
    width: 100px;
    height: 33px;
    border-radius: 50px;
    background-color: #45B0D2;
    color: #F2ECF8;
}

.fundo24{
    background:#D9D9D9;
    width:450px;
    height: 308px;
    

  }


