@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    
}
.menu{
    width: 1764px;
    height: 117px;
    border-radius: 25px;
    background: #DEC4C4;
    margin-top: 47px;
    margin-left: 54px;
    
}

.menu .menu-direita{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: 1200px;
    
    
}

.menu .menu-direita .menu-texto{
    margin-top: 40px;
}

.login{
    display: block;
    margin-top: -160px;
    margin-left: 680px;
    background: #DEC4C4;
    width: 500px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 3.125rem;
    
    
    
}

.login .login-cpf{
    align-items: center;
}

.login .items{
    margin-left: 160px;
    margin-top: 80px;
}

.rodape-footer{
    width: 1801px;
    height: 100px;
    border-radius: 25px;
    background: #DEC4C4;
    margin-top: 124px;
    margin-left: 25px;

}

.rodape-footer .footer-direita{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    margin-left: 1200px;
    
}

.rodape-footer .footer-direita .footer-texto{
    margin-top: 40px;
}

.fundo{
  display: flex;  
  background:#D9D9D9;
  width:650px;
  height: 208px;
  margin-top: 66px;
  margin-left: 1116px;
}

.fundo2{
    background:#D9D9D9;
    width:769px;
    height: 308px;
    margin-top: -100px;
    
  }


